body {
    font-size: 40px;
}

/* ======================= */
.block {
    /* width: 1000px; */
    /* height: 100px; */
    background: rgb(213, 208, 208);
    max-width: 1000px;
    min-width: 800px;
}

.inline {
    width: 1000px;
    height: 100px;
}
.img{
    width: 1000px;
}