.some-text {
    font-family: 'Pacifico', cursive;
    font-size: 21px;
    line-height: 60px;
    text-align: justify;
    font-weight: 400;
    color: blueviolet;
}

.open {
    font-family: 'Open Sans', cursive;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.ship {
    font-family: 'Shippori Mincho B1', serif;
    font-size: 20px;
    text-decoration: line-through;
}

.bry {
    font-family: 'Brygada 1918', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

div.fix {
    font-family: 'Brygada 1918', sans-serif;
    font-size: 40px;
text-decoration-style: wavy;
    color: blueviolet;
    word-spacing: 30px;
}

div.fix2 {
    font-family: 'Brygada 1918', sans-serif;
    letter-spacing: 5px;
}